<ion-header>
  <ion-toolbar>
    <ion-title>
      Memory game
    </ion-title>
    <ion-label slot="end">
      {{ numberOfRevealedCards}} sur {{ numberOfDistinctCards}}
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor= "let card of cardList; let pos=index"
               [size]="12 / numberOfCardsPerRow" (click)="flipCard(card, pos)">
              <ion-img class="card" [src]="card.currentImg"></ion-img>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="success" expand="block" (click)="playAgain()" *ngIf="numberOfRevealedCards==numberOfDistinctCards">Rejouer</ion-button>
  </ion-toolbar>
</ion-footer>
